{% extends 'base.html' %}

{% block title %}
    <title>About Us - TaskMate</title>
{% endblock title %}



{%block content%}
   <div class="container">

</head>
<body>
  <div class="About-us">
    <h1> About Us </h1>
	<p>Our mission is to empower young Students to be the inventors and creators. Students can follow their schedule by using our website</p>
	<hr>
	<p>In a world where so much is being done for technology and so little for the environment, How to be Consistent is not even a part of most discussions.</p>
    <p>We at Studytonight believe that by widening the reach of education, by making it freely available, so much can be achieved.</p>
    <h4>This website is Designed By Sanjeev Pathak!</h4>
    <hr>
    <a href="https://www.linkedin.com/in/sanjeev-pathak-973b6b248/" target="_blank" rel="noopener noreferrer">Linkedin Account</a>
    <hr>
    <a href="https://leetcode.com/pathaksanjeev0496/" target="_blank" rel="noopener noreferrer">LeetCode Coding Profile</a>

    

  </div>
</body>
</html>
   </div>
{%endblock content%}